@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}
p {
  font-size: 40px;
  color: rgb(0, 68, 255);
  text-align: justify;
  text-shadow: 1px 1px 2px black;
  text-transform: uppercase;
  font-weight: 200;
  line-height: 1.5;
}
a {
  text-decoration: none;
  font-size: 60px;
  color: brown;
  background-color: blanchedalmond;
}
